@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --white: #fff;
    --black: #000;
    --main: #4978ff;
}


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 1000px;
    background: var(--black);
}
/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 100;
    transition: 0.6s;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: var(--white);
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: var(--white);
    letter-spacing: 1px;
    font-weight: 300;
    transition: 0.6s;
}
/* Banner */
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(/images/bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h2 {
    color: var(--white);
    font-size: 90px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;
}

.banner h2 span {
    color: var(--main);
}